asgiref==2.1.6
async-timeout==2.0.0
asyncio==3.4.3
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
channels==2.0.2
constantly==15.1.0
daphne==2.0.3
Django==2.0.2
django-bootstrap3==9.1.0
django-haystack==2.7.0
django-taggit==0.22.2
django-timezone-field==2.0
docopt==0.6.2
hyperlink==17.3.1
incremental==17.5.0
irc3==1.0.2
psycopg2==2.7.4
pytz==2018.3
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
venusian==1.1.0
YURL==0.13
zope.interface==4.4.3
